<?xml version="1.0" encoding="utf-8"?>

<!--
Configuration file for the SPID proof-of-concept application
Set attributeMeters to active="false" in order to skip them
-->
<config>
  <!--
  Whether or not to display the session details with divergence measurements
    true => Takes longer time to parse the file, but the details are appended
    false => Faster, but no details when a session is selected in the GUI
  -->
  <displayAllProtocolModelDivergences>true</displayAllProtocolModelDivergences>
  <!--
  The appropriate threshold value differs depending on which attributeMeter
  that are being used. A value of 2.2 or 2.3 is appropriate when all
  attributeMeters are used. A higher value will generate more false positives
  and a lower value will generate more false negatives.
  -->
  <divergenceThreshold>2.04</divergenceThreshold>
  <!-- More than 1000 sessions can cause your RAM to fill up -->
  <maxSimultaneousSessions>1000</maxSimultaneousSessions>
  <!--
  There is no point in setting a value higher than 100 since the models have only
  been trained on the first 100 packets of various sessions. Lower this value in
  order to save memory. Just 8 frames might be enough to determine the protocol.
  The number here also includes non-content packets, so 3 would be just the handhake.
  -->
  <maxFramesToInspectPerSession>20</maxFramesToInspectPerSession>
  <timestampFormat>2</timestampFormat>
  <!--Whether or not to display the .txt log file after parsing a pcap file-->
  <displayLogFile>true</displayLogFile>
  <!--Whether or not protocol models for unidirectional flows should be created when reading training data (only works for TCP sessions)-->
  <appendUnidirectionalSessions>true</appendUnidirectionalSessions>
  <!-- Removing attribute meters will improve speed and free more RAM -->
  <!-- active can be set to "true", "false, or "optional" -->
  <attributeMeters>
    <attributeMeter attributeName="AccumulatedDirectionBytesMeter" active="true" />
    <attributeMeter attributeName="ActionReactionFirst3ByteHashMeter" active="true" />
    <attributeMeter attributeName="ByteBitValueMeter" active="false" />
    <attributeMeter attributeName="ByteFrequencyMeter" active="true" />
    <attributeMeter attributeName="ByteFrequencyOfFirstPacketBytesMeter" active="true" />
    <attributeMeter attributeName="BytePairsReocurringCountIn32FirstBytesMeter" active="true" />
    <attributeMeter attributeName="BytePairsReocurringIn32FirstBytesMeter" active="false" />
    <attributeMeter attributeName="BytePairsReocurringOffsetsIn32FirstBytesMeter" active="false" />
    <attributeMeter attributeName="ByteValueOffsetHashOfFirst32BytesInFirst4PacketsMeter" active="true" />
    <attributeMeter attributeName="DirectionByteFrequencyMeter" active="false" />
    <attributeMeter attributeName="DirectionPacketLengthDistributionMeter" active="true" />
    <attributeMeter attributeName="DirectionPacketSizeChange" active="false" />
    <attributeMeter attributeName="First2OrderedFirst4CharWordsMeter" active="false" />
    <attributeMeter attributeName="First2OrderedFirstBitPositionsMeter" active="true" />
    <attributeMeter attributeName="First2OrderedPacketsFirstNByteNibblesMeter" active="false" />
    <attributeMeter attributeName="First2PacketsFirst16ByteHashCountsMeter" active="false" />
    <attributeMeter attributeName="First2PacketsFirst3ByteHashAndPacketLengthMeter" active="false" />
    <attributeMeter attributeName="First2PacketsFirst8ByteHashDirectionCountsMeter" active="true" />
    <attributeMeter attributeName="First2PacketsPerDirectionFirst5BytesDifferencesMeter" active="false" />
    <attributeMeter attributeName="First4DirectionFirstNByteNibblesMeter" active="false" />
    <attributeMeter attributeName="First4OrderedDirectionFirstNByteNibblesMeter" active="true" />
    <attributeMeter attributeName="First4OrderedDirectionInterPacketDelayMeter" active="false" />
    <attributeMeter attributeName="First4OrderedDirectionPacketSizeMeter" active="false" />
    <attributeMeter attributeName="First4PacketsByteFrequencyMeter" active="true" />
    <attributeMeter attributeName="First4PacketsByteReoccurringDistanceWithByteHashMeter" active="false" />
    <attributeMeter attributeName="First4PacketsFirst16BytePairsMeter" active="false" />
    <attributeMeter attributeName="First4PacketsFirst32BytesEqualityMeter" active="true" />
    <attributeMeter attributeName="FirstBitPositionsMeter" active="true" />
    <attributeMeter attributeName="FirstPacketPerDirectionFirstNByteNibblesMeter" active="false" />
    <attributeMeter attributeName="FirstServerPacketFirstBitPositionsMeter" active="true" />
    <attributeMeter attributeName="NibblePositionFrequencyMeter" active="false" />
    <attributeMeter attributeName="NibblePositionPopularityMeter" active="true" />
    <attributeMeter attributeName="PacketLengthDistributionMeter" active="false" />
    <attributeMeter attributeName="PacketPairLengthPrimesMeter" active="false" />
  </attributeMeters>
</config>