[submodule "lib"]
	path = lib
	url = https://nessc.fit.vutbr.cz/tfs/Netfox/NetFox/_git/lib
[submodule "private"]
	path = private
	url = https://nessc.fit.vutbr.cz/tfs/Netfox/NetFox/_git/private
[submodule "TestingData"]
	path = TestingData
	url = https://nessc.fit.vutbr.cz/tfs/Netfox/NetFox/_git/TestingData
[submodule "Misc/VirtualizingObservableCollection"]
	path = Misc/VirtualizingObservableCollection
	url = https://github.com/pluskal/VirtualizingObservableCollection.git
[submodule "Misc/UnitOfWork"]
	path = Misc/UnitOfWork
	url = https://github.com/nesfit/UnitOfWork
