<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net462" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net462" />
  <package id="PostSharp" version="5.0.30" targetFramework="net47" developmentDependency="true" />
  <package id="PostSharp.Patterns.Aggregation" version="5.0.30" targetFramework="net47" developmentDependency="true" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="5.0.30" targetFramework="net47" />
  <package id="PostSharp.Patterns.Common" version="5.0.30" targetFramework="net47" developmentDependency="true" />
  <package id="PostSharp.Patterns.Common.Redist" version="5.0.30" targetFramework="net47" />
  <package id="PostSharp.Patterns.Model" version="5.0.30" targetFramework="net47" developmentDependency="true" />
  <package id="PostSharp.Patterns.Model.Redist" version="5.0.30" targetFramework="net47" />
  <package id="PostSharp.Redist" version="5.0.30" targetFramework="net47" />
</packages>